.like {
	display: flex;
	align-items: flex-start;
	gap: 5px;
	font-weight: 400;
	font-size: 12px;
	color: #6e6e6e;
	cursor: pointer;
}

.circle {
	width: 48px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	border: 1px solid #303030;
	transition: all 0.3s;
}

.circle.active {
	border: 1px solid red;
}

.active path {
	stroke: red;
}