.card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 1120px;
    margin: 0 auto;
    align-items: center;
    height: 100vh;
}

@media(max-width: 768px) {
    .card-list {
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        box-sizing: border-box;
        padding: 0 15px;
    }
}